body {
	font-family: Arial,DejaVu Sans,sans-serif;
}
a {
	color:#336699;
	text-decoration: none;
	font-size:12px;
}
a:hover {
	text-decoration:underline;
}
.field {
	width:500px;
}
#tags {
	position:relative;
	width:100%;
	min-height:30px;
}
.addTags {
	white-space:nowrap;
	padding:3px;
}
.tag-editor {
	display:inline;
}
.tag-editor input {
	width:100px;
	outline: 0 none !important;
    padding: 0 !important;
    box-shadow: none !important;
    height:15px;
    font-size:12px;
}
.tag-input {
	padding-bottom:2px;
	padding-left:3px;
	padding-top:2px;
	background-color: #e0eaf1;
    border-bottom: 1px solid #b3cee1;
    border-right: 1px solid #b3cee1;
/*	background-color:#fafafa;*/
	/*border:1px solid #f1f1f1;*/
	/*width:130px;*/
	display:none;
	position:relative;
	margin-bottom:3px;
	border-radius:5px;
}
.add-tag {
	background:url(../images/icon_add.png) no-repeat;
	display:inline-block;
	height:14px;
	vertical-align:middle;
	width:14px;
	margin-left: 5px;
    margin-right: 5px;
	cursor:text;
}
.add-tag:hover {
	cursor:pointer;
	background:url(../images/icon_add_active.png) no-repeat;
}
.tag-editor .post-tag {
	background-color: #e0eaf1;
    border-bottom: 1px solid #b3cee1;
    border-right: 1px solid #b3cee1;
    color: #3e6d8e;
    display: inline-block;
    font-size: 12px;
    line-height: 1.4;
    padding: 4px 4px;
    text-decoration: none;
    white-space: nowrap;
    margin-left: 3px;
	margin-right: 3px;
	margin-bottom:3px;
	border-radius:5px;
}
.tag-editor .delete-tag {
	background:url(../images/icon_delete.png) no-repeat 0 1px;
	display:inline-block;
	height:14px;
	/*vertical-align:top;*/
	width:14px;
	margin-left:2px;
	cursor:text;
}
.tag-editor .delete-tag:hover {
	background:url(../images/icon_delete_active.png) no-repeat 0 1px;
	cursor:pointer;
}
.validate-error {
	border-color:#c04848;
}
.prompt {
	color: #cccccc;
    font-size: 12px;
    font-style: italic;
    left: 8px;
    position: absolute;
    top: 6px;
}
.message-error {
	font-size: 12px;
    left: 130px;
    position: absolute;
    top: 24px;
    width: 222px;
	background-color: #c04848;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    color: #fff;
    text-align: left;
    z-index: 1;
 	cursor:pointer;
}
.message-error .message-inner {
	border-left: 9px solid transparent;
    border-top: 9px solid #c04848;
    content: "";
    left: 1px;
    position: absolute;
    top: -14px;
}
.message-error .message-text {
	padding: 0 10px 10px;
	background-color: #c04848;
}
